<br>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
  	<% @products.each do |product| %>
	   <li data-target="#carousel-example-generic" data-slide-to="<%= @products.index %>" class="<%= " active" if product == @products.first %>"></li>
    <% end %>
  </ol>

  <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
        <% @products.each do |product| %>
        <div class="item<%= " active" if product == @products.first %>">
            <%= image_tag(product.image_url) %>
            <div class="carousel-caption">
                <%= product.name %>
            </div>
        </div><!-- /item -->
        <% end %>
    </div><!-- /carousel-inner -->


  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<h1>Welcome to Big Apple Bikes</h1>
<h2>Your source for new and premium used bikes in New York City</h2>

<br>

<div class="container">
  <div class="row">
    <div class="col-md-6"> <%= image_tag("citybike.jpg", class: "img-responsive") %> </div>
    <div class="col-md-6"> <%= image_tag("girlbike.jpg", class: "img-responsive") %> </div>
  </div><!--end row-->
</div><!--end container-->