
    <div class="col-sm-2 col-md-4">
      <a href="#"><h1><%= product.name %></h1></a>
      <p><%= product.description %></p>
      <%= image_tag(product.image_url, class: "img-responsive") %>
      <strong>Colour: <%= product.colour %></strong><br>
      <strong>Price: <%= product.price %></strong><br>
      <br>
      <%= link_to 'Show', product %>
      <%= link_to 'Edit', edit_product_path(product) %>
      <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div><!-- /col -->
 

 <%= form_with(model: product, local: true) do |form| %>
 <% end %>