<p id="notice"><%= notice %></p>

<% cache @product do %>

<div class="container">
  <div class="row">
  
  <p data-product-id= "<%= @product.id %>">
    <strong>Name:</strong>
    <%= @product.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @product.description %>
  </p>

<% end %>

<p>
  <strong>Image url:</strong>
  <% if @product.image_url.present? %>
  <%= image_tag(@product.image_url, class: "img-responsive img-zoom", data_zoom_image: "@product.image_url") %>
  <% end %>
</p>

<p>
  <strong>Colour:</strong>
  <%= @product.colour %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>Average Rating: <div class="rated" id="average_rating" data-score="<%= @product.average_rating %>"></div> </p>



<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>

<%= render 'new_comment' %>

<div class="alert alert-info" style="display:none" role="alert">A new comment was posted!</div>

<%= render 'comments' %>



<div class="apple_pagination">
    <div class="page_info">
      <%= page_entries_info @comments %>
    </div>
    <%= will_paginate @comments, :container => false %>
  </div>
    
    <%= form_with(url: '/payments/create') do |form| %>
      <%= render partial: "shared/stripe_checkout_button" %>
      <%= hidden_field_tag(:product_id, @product.id) %>
    <% end %>


  </div><!--row end-->
</div><!--container end-->
