<!DOCTYPE html>
<html>
  <head>
    <title>Nameofapp</title>
    

   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>

<body>

	<nav class="navbar navbar-default" id="navbar">
  	<div class="container-fluid">
    	<div class="navbar-header">
      	<a class="navbar-brand" <%= link_to "Big Apple Bikes", landing_page_path %> </a>
    	</div><!--end navbar-header-->
    	<ul class="nav navbar-nav">
      	<li><%= link_to "Home", intro_path %> </li></li>
        <li><%= link_to "Products", products_path %> </li>
        <li><%= link_to "Contact", contact_path %> </li>
        <li><%= link_to "About", about_path %> </li>
    	</ul>
        
        <!--search form in navbar-->
        <%= form_with(url: products_path, method: 'get', local: true) do |form| %>
        <div class="text_field">
        <%= form.text_field :q, id: 'q', value: params[:q] %>
        <%= form.submit 'Search' %>
        </div>
        <% end %>
  	
    </div>
	</nav>

    <%= yield %>

  	
    	
    <footer>
      <div class="container">
        <p>&copy;Big Apple Bikes</p>
      </div>
    </footer>
		

  </body>
</html>
